<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Cabbie</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"-->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--link rel="icon" type="image/png" href="images/favicon.png"-->

  <style type="text/css">
  a {
    text-decoration: none
  }
  </style>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="two-thirds column" style="margin-top: 10%">
        <h4><a href="/">Cabbie</a> / Privacy</h4>

<p>This service is committed to protecting your privacy. We believe it is important for you to understand what information we collect from you, how it is used and who will have access to that information.</p>

<h5>Information collected</h5>
<p>The only time Cabbie collects information about you is when you authorize the service with your Uber account. In this case, we collect a token from Uber to enable you make requests via SMS. We also collect your phone number to ensure any request on your behalf is indeed you. No other personal information about you, provided or from Uber is collected or used.</p>
<p>During the authentication process, we will store a tiny piece of information on your browser (called cookies) for browser state validation. These cookies only last during the browsing session and does not contain any data related to you.</p>
<p>You can deactivate your account on Cabbie at any time. This will completely delete all related data to you.</p>

<h5>Information disclosure</h5>
<p>We will not give, sell, rent, or loan any information related to you to any third party. We may disclose such information to respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims. We may also share such information if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our Terms of Service, or as otherwise required by law. We may also provide non-personal statistics about the service use, traffic patterns, and related Site information to reputable third-party vendors, but these statistics will include no personally identifying information.</p>


<h5>Changes to policy</h5>
<p>We may change or supplement this Privacy Policy from time to time and we will post revised versions of this Policy on the Site.</p>

<h5>Contact information</h5>
<p>All questions and concerns about your privacy can be sent to <a href="mailto:ope@fonebaselabs.com">ope@fonebaselabs.com</a></p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
